<!DOCTYPE html>
<html ng-app="toDoList">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>toDoList</title>
    <link rel="stylesheet" href="js/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/lib/angular/angular.min.js"></script>
    <script src="js/lib/angular-route/angular-route.min.js"></script>
    <script src="js/lib/angular-resource/angular-resource.js"></script>
    <script>
        angular.module('toDoList',['ngResource']).constant('dataUrl','http://www.liuhui.space:5500/my-todolist/')
                .controller('defaultCtrl', function ($scope,$resource,dataUrl) {
                    $scope.dataResource = $resource(dataUrl + ':id',{id:'@id'});

                    $scope.getData = function () {
                        $scope.dataList = $scope.dataResource.query();
                    }

                    $scope.hideAddList = false;//是否隐藏添加的输入框组
                    $scope.newList = null;//存储新建立的任务

                    $scope.addList = function (newList) {
                        var hasTheSame = false;
                        $scope.hideAddList = false;
                        $scope.hideCancelButton = false;
                        if(newList && angular.isString(newList.content) && angular.isString(newList.description)){
                            for(var i=0;i<$scope.dataList.length;i++){
                                if(newList.content == $scope.dataList[i].content){
                                    hasTheSame = true;
                                    alert('对不起，这个任务已经存在！')
                                }
                            }
                            if(!hasTheSame){
                                newList.status = false;
                                new $scope.dataResource(newList).$save().then(function (brandNewData) {
                                    $scope.dataList.push(brandNewData);
                                    $scope.newList = null;
                                })
                            }
                        }
                    }

                    $scope.hideList = function () {
                        if($scope.hideFinishedList){
                            return {status:false}
                        }
                        else return {}
                    }

                    $scope.hideAddListTable = function () {
                        $scope.hideAddList = true;
                        $scope.hideCancelButton = true;
                    }
                    $scope.getData();
        })
    </script>
    <script src="js/controllers/timeCtrl.js"></script>
</head>
<body ng-controller="defaultCtrl">
<div class="page-header text-center"  ng-controller="timeCtrl">
    <h2>ToDo</h2>
    <p>{{getTime()}}</p>
</div>
<div class="container">
    <div class="form-group text-center">
        <label>隐藏完成的任务 <input type="checkbox" ng-model="hideFinishedList"></label>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-info" ng-show="dataList.length>0">
                <div class="panel-heading">
                    <table class="table table-responsive tableList">
                        <thead>
                        <tr>
                            <th><h4>任务</h4></th>
                            <th><h4>描述</h4></th>
                            <th><h4>状态</h4></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in dataList | filter:hideList()">
                            <th>{{item.content}}</th>
                            <th>{{item.description}}</th>
                            <th><input type="checkbox" ng-model="item.status"></th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-primary text-center" ng-hide="dataList.length>0">
                <div class="panel-body">
                    你还没有任务哦！^ _ ^马上添加吧!
                </div>
            </div>
            <div class="form-group" ng-hide="hideAddList">
                <div class="row">
                    <div class="col-sm-6"><label class="center-block">任务:<input type="text" class="form-control" ng-model="newList.content"></label></div>
                    <div class="col-sm-6"><label class="center-block">描述:<input type="text" class="form-control" ng-model="newList.description"></label></div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary addButton" ng-click="addList(newList)">添加+</button>
                <button class="btn btn-danger cancelButton" ng-show="dataList.length>0 && !hideCancelButton" ng-click="hideAddListTable()">取消<span>&times;</span></button>
            </div>
        </div>
    </div>
</div>
<ng-include></ng-include>
</body>
</html>